$main-green: #5DA797;
$main-black: #414141;
$main-white: #FFFFFF; 
$main-pink: #F98A8A;

// body {
//   width: 100vw;
//   height: 100vh;
//   font-size: 15px;
// }
.plan__show{
  display: flex;
  background-color: rgb(163,209,206);
}

.main {
  background-color: #ddd;
  width: 60%;
  // height: calc(100vh - 78px);
  padding: 20px 30px;
  &__edit{
    display: flex;
    &__favorite{
      background-color: #dbdb70;
      margin-right: 30px;
      width: 80px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      a{
        text-decoration: none;
        color: $main-black;
        color: $main-white;
        text-shadow: 0 0 3px $main-black;
        font-size: 20px;
      }
      a:hover{
        background-color: #EAEAE0;
        color: black;
        text-shadow: none;
      }
    }
    &-btn{
      width: 70px;
      height: 40px;
      border-radius: 3px;
      text-align: center;
      background-color: $main-green;
      font-size: 20px;
      line-height: 40px;
      transition: all .3s;
      a{
        text-decoration: none;
        color: $main-black;
        color: $main-white;
        text-shadow: 0 0 3px $main-black;
      }
      a:hover{
        background-color: $main-green;
        color: black;
        text-shadow: none;
      }
    }
    &-btn:hover{
      opacity: 0.8;
    }
    &-destroy {
      width: 70px;
      height: 40px;
      border-radius: 3px;
      text-align: center;
      background-color: rgb(234,164,133);
      font-size: 20px;
      line-height: 40px;
      transition: all .3s;
      margin-left: 30px;
      a{
        text-decoration: none;
        color: $main-black;
        color: $main-white;
        text-shadow: 0 0 3px $main-black;
      }
      a:hover{
        background-color: rgb(234,164,133);
        color: black;
        text-shadow: none;
      }
    }
    &-destroy:hover{
      opacity: 0.7;
    }

  }
  &__info{
    background-color: $main-white;
    display: flex;
    margin: 10px 0;
    border: 1px solid $main-black;
    &__left{
      border-right: 1px solid $main-green;
      width: 50%;
    }
    &__right{
      width: 50%;
    }
    p1 {
      padding-left: 5px;
      background-color: $main-green;
      width: 100%;
      display: block;
      color: $main-white;
      text-shadow: 0 0 3px $main-black;
    }
    p2 {
      display: block;
      height: 30px;
      line-height: 30px;
      padding-left: 5px;
    }
  }

  &__work{
    display: flex;
    &__left{
      width: 50%;
      height: 400px;
      padding-right: 10px;
      p1{
      padding-left: 5px;
      background-color: $main-green;
      width: 100%;
      display: block;
      color: $main-white;
      text-shadow: 0 0 3px $main-black;
      }
      &-1{
        border: 1px solid $main-black;
        height: 23%;
        padding: 5px 0 0 7px;
        background-color: $main-white;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-indent: 0;
      }
      &-2{
        border: 1px solid $main-black;
        height: 23%;
        border-top: none;
        padding: 5px 0 0 7px;
        background-color: $main-white;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      &-3{
        border: 1px solid $main-black;
        height: 23%;
        border-top: none;
        padding: 5px 0 0 7px;
        background-color: $main-white;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      &-4{
        border: 1px solid $main-black;
        height: 23%;
        border-top: none;
        padding: 5px 0 0 7px;
        background-color: $main-white;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    &__right{
      background-color: $main-white;
      width: 50%;
      iframe {
        width: 100%;
        height: 100%;
        border: 1px solid $main-black;
      }
    }
  }
  &__note{
    margin: 10px 0;
    p3 {
      border: 1px solid $main-black;
      border-bottom: none;
      padding-left: 5px;
      background-color: $main-green;
      width: 100%;
      display: block;
      color: $main-white;
      text-shadow: 0 0 3px $main-black;

    }
    &-site{
      border: 1px solid $main-black;
      margin-bottom: 5px;
      height: 120px;
      background-color: $main-white;
      padding: 5px 0 0 7px;
      word-wrap: break-word;
      white-space: pre-wrap;
      overflow: scroll;      
    }
    &-member{
      border: 1px solid $main-green;
      background-color: $main-white;
      .list {
        padding: 5px 0 0 7px;
        height: 25px;
      }
    }
  }

}


.side{
  background-color: #4285F4;
  width: 30%;
  margin-left: 5%;
  &__form{
    &__image{
    
    }
    &__comments{
      background-color: white;
      height: calc(100vh - 130px);
      overflow: scroll;
      &__comment{
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
        .body{
          margin-left: 5px;
          &__text{
            margin-bottom: 3px;    
          }
          &__image{
            .content__image{
              height: 100px;
            }
          }
        }
        .info{
          display: flex;
          font-size: 0.8em;
          margin-left: 5px;
          &__name{
            margin-right: 10px;
          }
          &__date{}
        }
      }
    }
    &__input{
      width: 100%;
    form{
      position: absolute;
      bottom: 5px;
      width: 30%;
    
      .side__form__input__text{
        display: flex;
        
        .form__text{
          width: 80%;
          margin-left: 5px;
          height: 50px;
        }
        .form__mask{
        font-size: 40px;
        .icon{
          // font-size: 60px;
          color: #4285F4;
          cursor: pointer;
          position: relative;
          right: 35px;
          top: 10px;
          font-size: 30px;
        }
      }
    }
      .hidden{
        display: none;
        cursor: pointer;
      }
      .follow-btn{
        width: 50px;
        color: white;
        height: 50px;
        border: 1px solid white;
        background-color: #4285F4;
        font-size: 18px;
      }
    }

    }
  }
}