* {
  box-sizing: border-box;
}


.plans {
  background-color: #4DADA1;
  height: 220px;
  overflow: scroll;
  &__new{
    background-color: #DF907C;
  }
}

.user-statuses {
  background-color: #ECD070;
}

.board {
  height: 80%;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  .user_list {
    margin-top: 58px;
    width: 15%;
    text-align: center;
    &-a, &-b, &-c, &-d, &-e, &-f {
      height: 107px;
      line-height: 80px;
      background-color: cornflowerblue;
      border: 1px solid #ddd;
      font-size: 20px;
      font-weight: bold;
      padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 10px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
    }
  }
}

.calendar {
  width: 85%;
}

.fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri {
  background-color: #E1E3E4;
}

.fc-sat {
  background-color: #B5CEE4;
}
.fc-sun {
  background-color: #F7C9CE;
}

.fc-day-number {
  display: none;
}
